{% extends "garage/base.html" %}

{% csrf_token %}
{% block content %}



<body class="font-montserrat">


<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader"></div>
</div>


<!--Search body starts-->

<div class="wrapper wrapper--w680">
    <div class="card card-1">
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="header-action">
                    {% csrf_token %}
                 <!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
                        Hesabat
                    </button> -->

                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fe fe-plus mr-2"></i>Avtoservislərin siyahısına bax
                    </button>


                </div>

                <form method="POST" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
<!--                        <div class="input-group">-->
<!--                            <input class="input&#45;&#45;style-1" name="fullname" type="text" placeholder="Marka">-->
<!--                        </div>-->

<!--                        <div class="input-group">-->
<!--                            <input class="input&#45;&#45;style-1" name="date1" type="text" placeholder="Model">-->
<!--                        </div>-->

<!--                        <div class="input-group">-->
<!--                            <input class="input&#45;&#45;style-1" name="date2" type="text" placeholder="Nömrə">-->
<!--                        </div>-->

           <!--             <div class="input-group">
                            <div class="p-t-5">
                                <input type="number" name="belate" value="0" width="100"> dəqiqə və daha çox gecikənlər
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="p-t-5">
                                <input type="number" name="overtime" value="0" width = "100"> dəqiqə və daha çox əlavə işləyənlər
                            </div>
                        </div>-->
<!--                    <button class="btn-submit" type="submit">Axtar</button>-->
                </form>

            </div>
        </div>
    </div>
</div>
<!--Search body ends-->


<div id="page_top" class="section-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <h1 class="page-title">Parametrlər</h1>
            </div>
            <div class="right">
                <div class="notification d-flex">
                </div>
            </div>
        </div>
    </div>
</div>
 <!--
<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link active" id="Departments-tab" data-toggle="tab"
                                        href="#Departments-list">İşçilər</a></li>
            </ul>
        </div>
    </div>
</div> -->

<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content mt-3">
            <div class="fade show active" id="Departments-list" role="tabpanel">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                        <div class="tableFixHead">
                            <table class="table table-striped table-vcenter table-hover mb-0 text-nowrap">
                                <thead>
                                <tr>
<!--                                    <th>Marka</th>-->
<!--                                    <th>Model</th>-->
<!--                                    <th>Seriya və nömrə</th>-->
<!--                                    <th>Şöbə</th>-->
<!--                                    <th>Sürücü</th>-->
<!--                                    <th>Mühərrikin həcmi</th>-->
<!--                                    <th>İl</th>-->
<!--                                    <th>BAN nömrəsi</th>-->
<!--                                    <th>Balansa götürmə tarixi</th>-->
<!--                                    <th></th>-->
<!--                                    <th></th>-->
<!--                                    <th></th>-->
                                </tr>
                                </thead>
                                <tbody>
<!--                                    <tr>-->
<!--                                        <td>-->
<!--                                            <div class="font-15">Toyota</div>-->
<!--                                        </td>-->
<!--                                        <td>Camry</td>-->
<!--                                        <td>90-PH-545</td>-->
<!--                                        <td>İT</td>-->
<!--                                        <td>Elxan Aliyev</td>-->
<!--                                        <td>2.0</td>-->
<!--                                        <td>2022</td>-->
<!--                                        <td>1111111111</td>-->
<!--                                        <td>25.02.2019</td>-->
<!--                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Yanacaq kartı</button></td>-->
<!--                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Yürüşü yenilə</button></td>-->
<!--                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Təmir tarixçəsinə bax</button></td>-->
<!--                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Yanacaq limiti məlumatlarına bax</button></td>-->
<!--                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Redaktə</button></td>-->
<!--                                    </tr>-->
                                {% for row in excel_data %}
<!--                                    <tr>-->
<!--                                        <td>-->
<!--                                            <div class="font-15">{{ row.fullname }}</div>-->
<!--                                        </td>-->
<!--                                        <td>{{ row.date }}</td>-->
<!--                                        <td>{{row.graph}}</td>-->
<!--                                        <td>{{ row.came }}</td>-->
<!--                                        <td>{{ row.gone }}</td>-->
<!--                                        <td>{{ row.early_came }}</td>-->
<!--                                        <td>{{ row.early_gone }}</td>-->
<!--                                        <td>{{ row.late_came }}</td>-->
<!--                                        <td>{{ row.late_gone }}</td>-->
<!--                                        <td>{{ row.build_exit }}</td>-->
<!--{#                                      <td>{{ row.distraction }}</td>#}-->
<!--                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Yanacaq kartı</button></td>-->
<!--                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Yürüşü yenilə</button></td>-->
<!--                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Təmir tarixçəsinə bax</button></td>-->
<!--                                       <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Yanacaq limiti məlumatlarına bax</button></td>-->
<!--                                       <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Redaktə</button></td>-->
<!--                                    </tr>-->
                                    <div class="modal fade" id="{{row.modalnum}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">İş saatlarında binadan çıxış-giriş saatları</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="row clearfix">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{row.hour_str}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hesabat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">

                       <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control" placeholder="Şöbə">
                                <option>Şöbə DBdan select</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="datepicker-5" placeholder="Ad Soyad">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="datepicker-5" placeholder="Başlanğıc tarix">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Son tarix">
                            </div>
                        </div>


                        <div class="col-md-12">

                             <label class="checkbox-container m-r-45">İşdən yayınmalar
                                        <input type="checkbox" name="first-class">
                                        <span class="checkmark"></span>
                                    </label>

                                    <label class="checkbox-container m-r-45">İcazə saatları və səbəblər
                                        <input type="checkbox" name="business">
                                        <span class="checkmark"></span>
                                    </label>
                        </div>
                    </div>
                </div>


               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                    <button type="button" class="btn btn-primary">Yadda saxla</button>
                </div>
            </div>
        </div>
    </div>

<div class="section-body">
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6 col-sm-12 text-md-right">

                </div>
            </div>
        </div>
    </footer>
</div>


<!-- Modal Hesabat-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">

        <form method="POST" action = '#' enctype="multipart/form-data">
       {% csrf_token %}
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="input-group">
                <label> Marka </label>
                <input class="input--style-1" name="date1" type="text" placeholder="Toyota">
            </div>

            <div class="input-group">
                <label>Model</label>
                <input class="input--style-1" name="date2" type="text" placeholder="Camry">
            </div>

            <div class="input-group">
                 <label>Seriya və nömrə</label>
                <input class="input--style-1" name="date2" type="text" placeholder="90-PH-545">
            </div>

            <div class="input-group">
                <div class="p-t-5">
                    <label>Təhkim olunub</label>
                    <div class="form-group">
                                <select class="form-control" placeholder="Təhkim olunub:">
                                    <option>Elxan Aliyev</option>
                                </select>
                    </div>
                </div>
            </div>
            <div class="input-group">
                 <label>Mühərrikin həcmi</label>
                 <input class="input--style-1" name="date2" type="text" placeholder="2.0">
            </div>
            <div class="input-group">
                 <label>İl</label>
                 <input class="input--style-1" name="date2" type="text" placeholder="2022">
            </div>
            <div class="input-group">
                 <label>BAN nömrəsi</label>
                 <input class="input--style-1" name="date2" type="text" placeholder="1111111">
            </div>

            <div class="input-group">
                 <label>Yanacaq kartı məlumatları</label>
                 <input class="input--style-1" name="date2" type="text" placeholder="">
            </div>
            <div class="input-group">
                 <label>Təmir tarixçəsi</label>
                 <input class="input--style-1" name="date2" type="text" placeholder="">
            </div>
            <div class="input-group">
                <div class="p-t-5">
                    <label>BAN nömrəsi</label>
                    <input type="number" name="overtime" value="0" width = "100"> Balansa götürmə tarixi
                </div>
            </div>
            <div class="input-group">
                 <label>Qeydlər</label>
                 <input class="input--style-1" name="date2" type="text" placeholder=" ">
            </div>
            <div class="input-group">
                 <label>Tarixçə</label>
                 <input class="input--style-1" name="date2" type="text" placeholder=" ">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Çıxarış</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
            </div>
        </div>
      </form>
    </div>
</div>

<!-- Modal Hesabat-->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="POST" action = '#' enctype="multipart/form-data">
       {% csrf_token %}
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="input-group">
                <input class="input--style-1" name="date1" type="date" placeholder="Tarix 1">
            </div>

            <div class="input-group">
                <input class="input--style-1" name="date2" type="date" placeholder="Tarix 2">
            </div>

            <div class="input-group">
                <div class="p-t-5">
                    <input type="number" name="belate" value="0" width="100"> dəqiqə gecikənlər
                </div>
            </div>

            <div class="input-group">
                <div class="p-t-5">
                    <input type="number" name="overtime" value="0" width = "100"> dəqiqə əlavə işləyənlər
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Çıxarış</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
            </div>
        </div>
      </form>
    </div>
</div>

<!-- Modal -->

<form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni avtomobil əlavə et</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row clearfix">

               <!--     <div class="col-md-12">
                        <div class="form-group">
                            <select name="staffname" class="form-control" placeholder="Səbəb">
                                <option>İşçini seçin</option>
                                {% for name in names %}
                                    <option>{{name.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                            <div class="form-group">
                                <input type="date" name="date" class="form-control" id="datepicker-5" placeholder="Tarix">

                            </div>
                    </div>-->

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="hour1" class="form-control" placeholder="Marka">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="hour2" class="form-control" placeholder="Model">
                        </div>
                    </div>

                <!--    <div class="col-md-12">
                        <div class="form-group">
                            <select name="reason" class="form-control" placeholder="Səbəb">
                                <option>İş səbəbi ilə</option>
                                <option>Şəxsi</option>
                            </select>
                        </div>
                    </div>-->

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="note" class="form-control" placeholder="Seriya və nömrəsi">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="note" class="form-control" placeholder="Buraxılış ili">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="note" class="form-control" placeholder="Ban nömrəsi">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="note" class="form-control" placeholder="Mühərrikin həcmi">
                        </div>
                    </div>

                </div>
            </div>


            <div class="modal-footer">
                <input type="submit" value="Yadda saxla" class="btn btn-primary"></input>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#"  method="post">
                {% csrf_token %}

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Avtomobili təhkim et</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="staffname" class="form-control" placeholder="Sürücü">
                                <option>Sürücünü seçin</option>
                                {% for name in names %}
                                    <option>{{name.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="staffname" class="form-control" placeholder="Sürücü">
                                <option>Avtomobilin seriya və nömrəsini seçin</option>
                                {% for name in names %}
                                    <option>{{name.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="date" name = "date" class="form-control" id="datepicker-5" placeholder="Tarix">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                <button type="submit" class="btn btn-primary">Yadda saxla</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="temir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#"  method="post">
                {% csrf_token %}

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Təmir tarixçəsi əlavə et</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="row clearfix">

                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="staffname" class="form-control" placeholder="Sürücü">
                                <option>Avtomobilin seriya və nömrəsini seçin</option>
                                {% for name in names %}
                                    <option>{{name.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="staffname" class="form-control" placeholder="Servis mərkəzi">
                                <option>Toyota Absheron</option>
                                <option>Avto Universal</option>
                                {% for name in names %}
                                    <option>{{name.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="date" name = "date" class="form-control" id="datepicker-5" placeholder="Tarix">
                        </div>
                    </div>
                     <div class="col-md-12">
                        <div class="form-group">
                            <input type="date" name = "text" class="form-control" id="datepicker-5" placeholder="Görülən iş">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="date" name = "text" class="form-control" id="datepicker-5" placeholder="Xərc">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                <button type="submit" class="btn btn-primary">Yadda saxla</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="yanacaq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#"  method="post">
                {% csrf_token %}

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yanacaq limitləri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="row clearfix">

                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="staffname" class="form-control" placeholder="Sürücü">
                                <option>Avtomobilin seriya və nömrəsini seçin</option>
                                {% for name in names %}
                                    <option>{{name.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="staffname" class="form-control" placeholder="Servis mərkəzi">
                                <option>Toyota Absheron</option>
                                <option>Avto Universal</option>
                                {% for name in names %}
                                    <option>{{name.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="date" name = "date" class="form-control" id="datepicker-5" placeholder="Tarix">
                        </div>
                    </div>
                     <div class="col-md-12">
                        <div class="form-group">
                            <input type="date" name = "text" class="form-control" id="datepicker-5" placeholder="Görülən iş">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="date" name = "text" class="form-control" id="datepicker-5" placeholder="Xərc">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                <button type="submit" class="btn btn-primary">Yadda saxla</button>
            </div>
            </form>
        </div>
    </div>
</div>




</body>
</html>
{% endblock content %}